#footer{
    position: relative;
    top: 300px;
    margin-top: 2px;
    background-color: black;
    display:inline-flex;
    color: white;
    justify-content: space-around;
    width: 99.3%;
    height: 70px;
}
p{
    font-size: 22px;
}